version: '3.1'

services:

  bankapp:
    image: 'bankapp'
    container_name: bankapp
    build: .
    depends_on:
      - db
      - pgadmin
    ports:
      - 8080:8080
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/bankapp-db
      - SPRING_DATASOURCE_USERNAME=bankapp
      - SPRING_DATASOURCE_PASSWORD=bankapp
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

  db:
    image: 'postgres:13.1-alpine'
    container_name: db
    environment:
      - POSTGRES_USER=bankapp
      - POSTGRES_PASSWORD=bankapp
      - POSTGRES_DB=bankapp-db
    ports:
      - 5432:5432

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: emmanuel.gaviria.25@gmail.com
      PGADMIN_DEFAULT_PASSWORD: bankapp123
    ports:
      - 80:80